<!DOCTYPE html>
<html>
<head>
    <title>Charging Station | MQTT Messages</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.js"></script>
    <script src="/static/communication.js"></script>
</head>

<body>
    <div class="header">
        <h1>MQTT Message From Car</h1>
    </div>
    <div class="contain" align="center">
        <div class="box">
            <div style="position: relative;">
                <div class="container" id="container1">
                    <div class="strip">
                        <div class="message"></div>
                    </div>
                    <img id="car1" src="../static/car1.png" alt="car1" width="50">
                    <h3 class="car-id">Car ID: v_0</h3>
                    <img src="../static/car.png" alt="" width="40">
                    <h3 class="charge-level">Charge Level: 0</h3>
                    <img src="../static/route.png" alt="" width="50">
                    <h3 class="route-info">Route: N/A</h3>
                    <img src="../static/station.png" alt="" width="50">
                    <h3 class="charge-station">Charge Station: N/A</h3>
                </div>
            </div>
        </div>
        <div class="box">
            <div style="position: relative;">
                <div class="container" id="container2">
                    <div class="strip">
                        <div class="message"></div>
                    </div>
                    <img src="../static/car2.jpg" alt="car2" width="50">
                    <h3 class="car-id">Car ID: v_1</h3>
                    <img src="../static/car.png" alt="" width="40">
                    <h3 class="charge-level">Charge Level: 0</h3>
                    <img src="../static/route.png" alt="" width="50">
                    <h3 class="route-info">Route: N/A</h3>
                    <img src="../static/station.png" alt="" width="50">
                    <h3 class="charge-station">Charge Station: N/A</h3>
                </div>
            </div>
        </div>
        <div class="box">
            <div style="position: relative;">
                <div class="container" id="container3">
                    <div class="strip">
                        <div class="message"></div>
                    </div>
                    <img src="../static/car3.png" alt="car3" width="50">
                    <h3 class="car-id">Car ID: v_2</h3>
                    <img src="../static/car.png" alt="" width="40">
                    <h3 class="charge-level">Charge Level: 0</h3>
                    <img src="../static/route.png" alt="" width="50">
                    <h3 class="route-info">Route: N/A</h3>
                    <img src="../static/station.png" alt="" width="50">
                    <h3 class="charge-station">Charge Station: N/A</h3>
                </div>
            </div>
        </div>
        <div class="box">
            <div style="position: relative;">
                <div class="container" id="container4">
                    <div class="strip">
                        <div class="message"></div>
                    </div>
                    <img src="../static/car4.png" alt="car4" width="50">
                    <h3 class="car-id">Car ID: v_3</h3>
                    <img src="../static/car.png" alt="" width="40">
                    <h3 class="charge-level">Charge Level: 0</h3>
                    <img src="../static/route.png" alt="" width="50">
                    <h3 class="route-info">Route: N/A</h3>
                    <img src="../static/station.png" alt="" width="50">
                    <h3 class="charge-station">Charge Station: N/A</h3>
                </div>
            </div>
        </div>
        <div class="box">
            <div style="position: relative;">
                <div class="container" id="container5">
                    <div class="strip">
                        <div class="message"></div>
                    </div>
                    <img src="../static/car5.png" alt="car5" width="50">
                    <h3 class="car-id">Car ID: v_4</h3>
                    <img src="../static/car.png" alt="" width="40">
                    <h3 class="charge-level">Charge Level: 0</h3>
                    <img src="../static/route.png" alt="" width="50">
                    <h3 class="route-info">Route: N/A</h3>
                    <img src="../static/station.png" alt="" width="50">
                    <h3 class="charge-station">Charge Station: N/A</h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>